body {
    font-family: 'Chivo', sans-serif;
    background-color: black;
    color: #DDF2EB;
    line-height: 150%;
    background-image: url('Space.jpeg');
    margin-left: 2%;
    margin-right: 2%;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150%
}